.tag {
	background-color: var(--background-color);
	border-radius: 0.3rem;
	font-size: 0.8em;
	overflow: hidden;
	padding: 0.4rem;
	position: relative;

	&:after {
		background-color: var(--foreground-color);
		content: '';
		inset: 0;
		opacity: 0.2;
		position: absolute;
		transition-duration: 0.1s;
		transition-property: opacity;
	}
}
