.tag {
	background-color: var(--background-accent-color);
	border-radius: 0.3rem;
	font-size: 0.8em;
	overflow: hidden;
	padding: 0.4rem;
	position: relative;
	transition-duration: 0.1s;
	transition-property: background-color;
}
